body{
    background-color: aqua;
    text-align: center;
    color: azure;
    font-family: sans-serif;
    font-size: large;
}
div{
    width: 200px;
    height: 200px;
}
.red{
    background-color: red;
}
.green{
    background-color: green ;

}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.magenta{
    background-color: magenta;
}
.brown{
    background-color: brown;
}
@media screen and (min-width:1000px) {
    body{
        background-color: gold;
    }

    
}
@media screen and (min-width:700px) and (max-width:999px){
    body{
        background-color: burlywood;
    }
}
