body{
    background-color: aqua;
    text-align: center;
    color: azure;
    font-family: sans-serif;
    font-size: large;
}
div{
    width: 200px;
    height: 200px;
    
}
.red{
    background-color: red;
}
.green{
    background-color: green ;

}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.magenta{
    background-color: magenta;
}
.brown{
    background-color: brown;
}
@media screen and (min-width:1000px) {
    body{
        background-color: gold;
    }

    
}
@media screen and (min-width:700px) and (max-width:999px){
    body{
        background-color: burlywood;
    }
}
@media screen and (min-width:500px){
    div{
        display: inline;
        
    }
}
@media screen and (max-width:480px){
    .red{
        background-color: blue;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .red{
        background-color: orange;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .red{
        background-color: yellow;
    }
}
@media screen and (min-width:1025px) and (max-width:1260px){
    .red{
        background-color: brown;
    }
}
@media screen and (min-width:1261px){
    .red{
        background-color: red;
    }
}
@media (orientation: landscaspe) {
    body{
         background-color: pink;
    }
}
